<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pizzas</title>
  <link rel="stylesheet" href="css/frida.css">
  <link rel="icon" href="images/frida.ico" type="image/x-icon">
</head>
<body>
<h1>Pizza's</h1>
<!--<ul>
&lt;!&ndash;variabele pizza wijst naar het volgende array element&ndash;&gt;
    <li th:each="pizza: ${pizzas}" th:text="${pizza}"></li>
</ul>-->
<table id="pizzatabel">
    <thead>
    <tr>
        <th>Naam</th>
        <th>Prijs</th>
        <th>Pikant</th>
    </tr>
    </thead>
    <tbody>
    <!--for (pizza : pizzas) { herhaal het onderstaande }-->
    <tr th:each="pizza : ${pizzas}" th:object="${pizza}">
        <td th:text="*{naam}"></td>
        <td th:text="*{prijs}" class="getal"></td>
<!--toont de span enkel als pikant true is-->
        <td><span th:if="*{pikant}">pikant</span></td>
    </tr>
    </tbody>
</table>
<!--iteratie van een verzameling (List, Set)-->
<ul th:each="getal : ${getallen}">
    <li th:text="${getal}"></li>
</ul>
<!--iteratie van een Map-->
<ul th:each="entry : ${landen}">
    <li th:text="|${entry.key} ${entry.value}|"></li>
</ul>
</body>
</html>