<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments::head(title = ${pizza} ? ${pizza.naam} : 'Pizza niet gevonden')"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<div th:if="not ${pizza}" class="fout">
    Pizza niet gevonden:
    <th:block th:text="*{id}"></th:block>
</div>
<th:block th:if="${pizza}" th:object="${pizza}">
    <h1 th:text="*{naam}"></h1>
    <dl>
        <dt>Nummer</dt>
        <dd th:text="*{id}"></dd>
        <dt>Prijs</dt>
        <dd th:text="*{{prijs}}"></dd>
        <dt>Pikant</dt>
        <dd th:text="*{pikant} ? 'Ja' : 'Nee'"></dd>
        <dt th:if="${inDollar}">In dollar</dt>
        <!--numbers is een ingebakkeen Thymeleaf object, dit roep je op door # ervoor te plaatsen-->
        <dd th:if="${inDollar}" th:text="${#numbers.formatDecimal(inDollar,1,2)}"></dd>
    </dl>
    <!--we hebben toegang tot {id} van het huidige pizza object in deze pagina die een specifieke pizza omschrijft-->
    <form method="post" th:action="@{/mandje/{id}(id=*{id})}">
        <button>In mandje</button>
    </form>
</th:block>

</body>
</html>