<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments::head(title='Pizza\'s')"></head>
<body>

<nav th:replace="fragments::menu"></nav>

<!--parameter komt binnen in de query string van pizzas.html als er een toegevoegd werd, bv.: /pizzas?idNieuwePizza=777-->
<!--als deze gedetecteerd wordt... dan...-->
<div th:if="${param.idNieuwePizza}" class="boodschap">Pizza is toegevoegd. Zijn nummer:
    <th:block th:text="${param.idNieuwePizza}"></th:block>
    .
</div>

<h1>Pizza's</h1>
<table th:replace="fragments::pizzaTabel(pizzas=${pizzas})"></table>

<!--iteratie van een verzameling (List, Set)-->
<ul th:each="getal : ${getallen}">
    <li th:text="${getal}"></li>
</ul>
<!--iteratie van een Map-->
<ul th:each="entry : ${landen}">
    <li th:text="|${entry.key} ${entry.value}|"></li>
</ul>
</body>
</html>